/* Copyright 2014 Owen Versteeg; MIT licensed */
/* Some styl-ification by css2stylus.com */
/* Redacted by Joseph Post */

.smooth
  transition all .2s

.container
  margin 0 20px
  width auto

label
  & > *
    display inline

form
  & > *
    display block
    margin-bottom 10px

.row
  margin 1% 0
  overflow auto

.col
  float left

.table
  width 100%

for n in 1..12
  .c{n} 
    width (1/12*n*100)%

h1
  font-size 2em

h2
  font-size 2em

.ico
  font 33px Arial Unicode MS,Lucida Sans Unicode

textarea,input,select
  outline 0
  font-size 14px

textarea,input,select
  padding 8px
  border 1px solid #ccc

textarea:focus,input:focus,select:focus
  border-color #5ab

textarea,input[type=text]
  -webkit-appearance none
  width 13em

@media (min-width: 1040px)
  .container
    margin auto
    width 1000px

@media (max-width: 870px)
  .row, .col
    width 100%

.table th,.table td
  padding .5em
  text-align left

.table
  tbody
    & > :nth-child(2n-1)
      background #ddd

.msg
  padding 1.5em
  background #ccc
  border-left 5px solid #888
