- Array.prototype.unique = function (a) {
-		return function () { return this.filter(a) };
- }(function (a,b,c) { return c.indexOf(a,b+1) < 0 });

ul
	for post in public.blog._data
		if post.tags
			- var tags = post['tags'].unique();
			for tag in tags
					li= tag

pre #{JSON.stringify(public.blog._data, null, '\t')}
