h3 about me
ul
  li web developer since 2013.
  li audio engineer since 2006.
  li musician since 1996.
p I like the outdoors, vegan food,
  br
  | functional programming, cycling,
  br
  | instrumental bands, and freedom.
