h3 about me
ul
  li web developer since 2013.
  li audio engineer since 2006.
  li musician since 1996.
p I like the outdoors, eating plants,
  br
  | programming, cycling, parenthood,
  br
  | instrumental bands, and freedom.
