extends layout
block content
  h3 rappers / producers i've worked with
  ul
    li: | black chill
    li: a(target='_blank' href='http://youtu.be/1AzDWw40oDs?t=2m43s') "boo" sledge
    li: | draytoxic
    li: a(target='_blank' href='https://www.youtube.com/watch?v=iQYz6d-Bbpg') gillie da kid
    li: | lid bux
    li: | melo
    li: a(target='_blank' href='https://www.youtube.com/watch?v=8ENpRYyoQ1M') metro boomin
    li: a(target='_blank' href='http://jumpphilly.com/2013/09/19/batcave-studio-underground-leaders/') rug (batcave studio)
    li: a(target='_blank' href='https://www.youtube.com/watch?v=5cn_fdCkZlc') sonny digital
    li: | star b
    li: a(target='_blank' href='https://en.wikipedia.org/wiki/Tamba_Hali') tamba hali
    li: a(target='_blank' href='https://en.wikipedia.org/wiki/Tank_Tyler') "tank" tyler
  
  h3 bands i've recorded
  ul
    li buckethead
    li galactic
    li grace Potter
    li hot & ugly
    li ivan neville's dumpstaphunk
    li jacob fred jazz odyssey
    li mountain sprout
    li railroad earth
    li secret chiefs 3
    li shearing pinx
    li son volt
    li the avett brothers
    li this is my condition
    li trombone shorty
    li yonder mountain string band
