extends layout

block content
  h1= message
  h2= error.status
<<<<<<< HEAD
    |  | Return to 
    a(href='http://jcpst.com') jcpst.com
=======
  pre #{error.stack}
>>>>>>> c2c3846489e15ca5b13cd1b6497383c8635b1f77
