extends layout

block content
  h1 joseph post
  em software developer, music producer
  br
  a(href='mailto:jp@jsphpst.com') email
  |  | 
  a(target='_blank' href='http://jcpst.com/pgp') public key
  |  | 
  a(target='_blank' href='https://twitter.com/jsphpst') @jsphpst
  
  h3 interests as of jan 1 2015
  ul
    li ecoacoustic phonography
    li java programming
  a(target='_blank' href='https://bandcamp.com/josephpost') music purchases in descending chronological order
  
  h3 about me
  ul
    li web developer since 2013.
    li audio engineer since 2006.
    li musician since 1996.
  p I like the outdoors, vegan food,
    br
    | functional programming, cycling,
    br
    | instrumental bands, and freedom.
  
  h3 compositions
  include links.jade
  
  h3 software i'm currently enjoying
  ul
    li arch linux
    li xfce
    li terminator
    li cmus
  ul
    li textadept
    li light table
    li intellij idea ce
    li webstorm
  ul
    li renoise
    li ardour
    li sunvox

  h3 rappers i've recorded
  ul
    li "boo" sledge
    li draytoxic
    li gillie da kid
    li melo
    li metro boomin
    li rug (batcave studio)
    li sonny digital
    li star b
    li tamba hali
    li "tank" tyler
  
  h3 bands i've recorded
  ul
    li buckethead
    li galactic
    li grace Potter
    li hot & ugly
    li ivan neville's dumpstaphunk
    li jacob fred jazz odyssey
    li mountain sprout
    li railroad earth
    li secret chiefs 3
    li shearing pinx
    li son volt
    li the avett brothers
    li this is my condition
    li trombone shorty
    li yonder mountain string band
  
  #footer
    em
      h5 thanks for visting. built with 
        a( target='_blank' href='http://expressjs.com/') express
        | . running at digitalocean (
        a( target='_blank' href='https://www.digitalocean.com/?refcode=adae777485a7') rewards link
        | ).