extends layout

block content
  h1 joseph post
  em software developer, music producer
  br
  a(href='mailto:jp@jsphpst.com') email
  |  | 
  a(target='_blank' href='/pgp') public key
  |  | 
  a(target='_blank' href='https://twitter.com/jsphpst') @jsphpst
  
  p last update: jan 3 2015
  
  include interests.jade
  include about.jade
  include links.jade
  include software.jade
  include music-credits.jade

  #footer
    em
      h5 thanks for visting. 
        a(target='_blank' href='https://gitlab.com/jcpst/jcpst/') source