- var links = [{name: 'iojs', url: 'https://iojs.org/'}, {name: 'rust', url: 'http://www.rust-lang.org/'}];

+list('current interests', links)
+a("bandcamp collection", "https://bandcamp.com/josephpost")
