h3 current interests
ul
  li ecoacoustic phonography
  li ardour
  li: a(target='_blank' href='http://kernelnewbies.org/') kernel newbies
a(target='_blank' href='https://bandcamp.com/josephpost') music purchases in descending chronological order
