h3 interests
+a('iojs', 'https://iojs.org')
|  | 
+a('arch', 'https://www.archlinux.org/')
|  | 
+a('appc', 'https://github.com/appc/spec')
|  | 
+a('bash', 'http://tldp.org/LDP/abs/html/')
br
+a('just intonation', 'http://www.kylegann.com/microtonality.html')
|  | 
+a('totalism', 'http://www.newmusicbox.org/articles/minimal-music-maximal-impact/')
br
br
+a("bandcamp collection", "https://bandcamp.com/josephpost")
