h3 current interests
+a("containers", "https://en.wikipedia.org/wiki/Operating-system-level_virtualization")
br
+a("django", "https://www.djangoproject.com/")
br
+a("bash", "http://www.gnu.org/software/bash/manual/bashref.html")
