h3 current interests
ul
  li: a(target='_blank' href='http://backbonejs.org/') backbone
  li: a(target='_blank' href='https://en.wikipedia.org/wiki/Field_recording') field recording
  li fragrance pollution
    | 
    a(target='_blank' href='http://healthimpactnews.com/2014/secondhand-fragrance-contamination-a-public-health-problem/') 1
    | 
    a(target='_blank' href='http://massreport.com/chemical-lobby-fights-for-right-to-use-toxic-chemicals-your-antiperspirant-can-make-you-infertile/') 2
  //li: a(target='_blank' href='http://kernelnewbies.org/') kernel newbies
a(target='_blank' href='https://bandcamp.com/josephpost') music purchases in descending chronological order
