//h3 interests
br
br
span I like discovering 
+a("new music", "https://bandcamp.com/josephpost")
| .
br
span I like 
+a("arch linux", "https://www.archlinux.org/") 
| .
br
span I like 
+a("node", "https://github.com/nodejs")
| .
