h3 interests
+a('iojs', 'https://iojs.org')
|  | 
+a('arch', 'https://www.archlinux.org/')
|  | c | 
+a('clojure', 'http://learn-clojure.com/')
br
+a('just intonation', 'http://www.kylegann.com/microtonality.html')
|  | 
+a('totalism', 'http://www.newmusicbox.org/articles/minimal-music-maximal-impact/')
br
br
+a("bandcamp collection", "https://bandcamp.com/josephpost")
