doctype html
html
  head
<<<<<<< HEAD
    title= title
    meta(name='viewport' content='width=device-width,user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
=======
    title jcpst.com
    meta(name='viewport' content='width=device-width,user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
>>>>>>> c2c3846489e15ca5b13cd1b6497383c8635b1f77
