- var links = [{label: "soundcloud",url: "http://soundcloud.com/josephpost",active: "(current)"},{label: "your face",url: "http://yourface.bandcamp.com",active: "(2009-10)"},{label: "monitors",url: "http://monitors.bandcamp.com",active: "(2004-07)"},{label: "senator bigsby",url: "http://sbats.bandcamp.com",active: "(2001-04)"}]
ul
  each val in links
    li!= '<a target="_blank" href="' + val.url + '">' + val.label + '</a> ' + val.active 