h3 compositions

+a('soundcloud', 'http://soundcloud.com/josephpost')
|  (current)
br
+a('your face', 'http://yourface.bandcamp.com')
|  (2009-10)
br
+a('monitors', 'http://monitors.bandcamp.com')
|  (2004-07)
br
+a('senator bigsby', 'http://sbats.bandcamp.com')
|  (2001-04)
