h3 rappers i've recorded
ul
  li "boo" sledge
  li draytoxic
  li gillie da kid
  li melo
  li metro boomin
  li rug (batcave studio)
  li sonny digital
  li star b
  li tamba hali
  li "tank" tyler

h3 bands i've recorded
ul
  li buckethead
  li galactic
  li grace Potter
  li hot & ugly
  li ivan neville's dumpstaphunk
  li jacob fred jazz odyssey
  li mountain sprout
  li railroad earth
  li secret chiefs 3
  li shearing pinx
  li son volt
  li the avett brothers
  li this is my condition
  li trombone shorty
  li yonder mountain string band
