h3 software i'm enjoying
ul
  li: a(target='_blank' href='https://www.archlinux.org/') arch linux
  li: a(target='_blank' href='http://www.zsh.org/') zsh
  li: a(target='_blank' href='http://www.xfce.org/') xfce
  li: a(target='_blank' href='http://gnometerminator.blogspot.com/p/introduction.html') terminator
  li: a(target='_blank' href='https://cmus.github.io/') cmus
  li: a(target='_blank' href='http://www.vim.org/') vim
  li: a(target='_blank' href='http://www.vim.org/') light table
  li: a(target='_blank' href='http://www.jetbrains.com/webstorm/') webstorm
  li: a(target='_blank' href='http://renoise.com/') renoise