h3 software i enjoy
ul
  li: a(target='_blank' href='https://www.archlinux.org/') arch linux
  li: a(target='_blank' href='https://wiki.archlinux.org/index.php/Yaourt') yaourt
  li
    a(target='_blank' href='http://www.zsh.org/') zsh
    |  (
    a(target='_blank' href='http://ohmyz.sh/') oh my
    | )
  li: a(target='_blank' href='http://www.xfce.org/') xfce
  li: a(target='_blank' href='http://gnometerminator.blogspot.com/p/introduction.html') terminator
  li: a(target='_blank' href='https://cmus.github.io/') cmus
  li: a(target='_blank' href='http://www.vim.org/') vim
  li: a(target='_blank' href='http://www.vim.org/') light table
  li: a(target='_blank' href='http://www.jetbrains.com/webstorm/') webstorm
  li: a(target='_blank' href='http://renoise.com/') renoise
  li: a(target='_blank' href='http://ardour.org/') ardour