br(style='margin-top:0.5em')
h3(style='display:inline') Weblog
| &nbsp;
a.rss(href='/blog/feed.xml') rss
h1
table.table
    for post, slug in public.blog._data
      tr
        td: a(href="/blog/#{slug}")= post.title
        td= post.date

