body {
  	padding: 50px;
    background-color: #ddd;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:active, a:hover {
    color: #963;
}

a:visited {
	color: #363;
}

ul {
	list-style: circle;
	padding-left: 15px;
}

.small {
	font-size: small;
}

#footer {
    color: #666;
}