doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,user-scalable=no')
    link(rel="stylesheet" href="styles/style.css")
  body
    .container
      .row
        .col.c3!= partial('_header.md')
          != partial('_nav.md')
        .col.c9
          br
          != yield

