doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,user-scalable=no')
		link(rel="stylesheet" href="/assets/styles/style.css")
		link(rel='stylesheet' href='/assets/lib/prism.css')
		script(src='/assets/lib/prism.js')
	body
		h1: a(href='/' style='text-decoration:none') Joseph Post
		a(href='/music') music
		|  || 
		a(href='/blog') blog
		|  || 
		a(href='/about') about
		|  || 
		a(href='/links') links
		|  || 
		a(href='/contact') contact
		if current.path[0] == 'blog' && current.source !== 'index'
			h3= title
			em= date
			!= yield
			strong %%%
		else
			!= yield

