doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,user-scalable=no')
    link(rel="stylesheet" href="/assets/styles/style.css")
    link(rel='stylesheet' href='/assets/lib/prism.css')
    script(src='/assets/lib/prism.js')
  body
    .container
      .row
        .col.c3
          h1: a(href='/') Joseph Post
          p: a(href='/music') music
          P: a(href='/blog') blog
          p: a(href='/about') about
          p: a(href='mailto:joe@jcpst.com') email
          p: a(href='/pgp.txt') pub key
        .col.c9
          br
          != yield

