doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,user-scalable=no')

		//- There is so little styling that I'll just save the extra
		//- HTTP request and they can live in here.
		style.
			a,a:active,a:hover,a:visited{color:black;}
			body{background:lemonchiffon;max-width:700px;}
			img{max-width:100%;}
			.top{padding-top:5px;border-top:solid 1px;}

		//- No need for syntax highlighting if the client is not reading the blog.
		if current.path[0] == 'blog' && current.source !== 'index'
			link(rel='stylesheet' href='/assets/lib/prism.css')
			script(src='/assets/lib/prism.js')

	body
		h1: a(href='/' style='text-decoration:none') Joseph Post
		div.
			#[a(href='/music') music]
			|| #[a(href='/blog') blog]
			|| #[a(href='/about') about]
			|| #[a(href='/links') links]
			|| #[a(href='/contact') contact]

		//- Formatting for blog posts.
		if current.path[0] == 'blog' && current.source !== 'index'
			h2= title
			em= date
			!= yield
			strong %%%
		else
			!= yield

