doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,user-scalable=no')
    link(rel="stylesheet" href="styles/style.css")
  body
    != partial('_header.md')
    != yield
