p: strong Upcoming Performance
blockquote
	p: em Thursday, November 19, 7:30pm @ #[a(href='http://kckcc.edu/') KCKCC]
	div.
		My composition #[a(href='https://soundcloud.com/josephpost/us-gold-2010') US Gold]
		will be performed at this year's Electronic Music Midwest
		(#[a(href='http://www.emmfestival.org/') EMM]) festival. Check it out and say hi if
		you're in town.

p: strong Quotes
blockquote
	p: em If it doesn't look good in Lynx, it might be too fancy.
	p: em I'm diggin' this #[span(title='#fffacd') Lemonchiffon] background.

h6: em.top Powered by harp@0.19.0 (#[a(href='https://gitlab.com/jcpst/jcpst') source])
