p.
	I wanted to give you a complete list of my Bandcamp purchases in reverse 
	chronological order. Unfortunately, Bandcamp has deprecated their API, so
	I have resorted to using a script that transforms the most recent purchases
	to an html file that is imported on this page.

p last generated on #{new Date()}

include _bandcamp-results.html

