extends layout
block content
  h3 rappers / producers i've worked with
  -console.log(metalsmith);
//  ul
//    each rapper in credits.rappers
//      if rapper.url
//        li: a(href="#{rapper.url}") #{rapper.name}
//      else
//        li: #{rapper.name}
  h3 bands i've recorded
  ul
    li buckethead
    li galactic
    li grace Potter
    li hot & ugly
    li ivan neville's dumpstaphunk
    li jacob fred jazz odyssey
    li mountain sprout
    li railroad earth
    li secret chiefs 3
    li shearing pinx
    li son volt
    li the avett brothers
    li this is my condition
    li trombone shorty
    li yonder mountain string band
