doctype html
html
  head
    title jcpst.com
    meta(name='viewport' content='width=device-width,user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include mixin.jade
    block content
