h3 compositions
+a('soundcloud','https://soundcloud.com/josephpost')
br
+a('jpacks', 'https://archive.org/details/JPACKSRPM2015Mp3')
|  (feb 2015)
br
+a('your face', 'http://yourface.bandcamp.com')
|  (2009-10)
br
+a('monitors', 'http://monitors.bandcamp.com')
|  (2004-07)
br
+a('senator bigsby', 'http://sbats.bandcamp.com')
|  (2001-04)
