extends layout
block content
  h3 some software i enjoy
  ul
    li: a(target='_blank' href='https://www.archlinux.org/') arch linux
    li: a(target='_blank' href='https://i3wm.org/') i3
    li: a(target='_blank' href='http://tools.suckless.org/dmenu/') dmenu
    li: a(target='_blank' href='https://wiki.archlinux.org/index.php/Yaourt') yaourt
    li
      a(target='_blank' href='http://www.zsh.org/') zsh
      |  (
      a(target='_blank' href='http://ohmyz.sh/') oh my
      | )
    li: a(target='_blank' href='http://docs.xfce.org/apps/terminal/start') xfce terminal
    li: a(target='_blank' href='https://cmus.github.io/') cmus
    li: a(target='_blank' href='http://www.vim.org/') vim
    li: a(target='_blank' href='http://mama.indstate.edu/users/ice/tree/') tree
    li: a(target='_blank' href='https://github.com/creationix/nvm') nvm
    li: a(target='_blank' href='http://pygments.org/docs/cmdline/') pygmentize
