doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,user-scalable=no')
		style
			include _style.css
		if current.path[0] == 'blog' && current.source !== 'index'
			link(rel='stylesheet' href='/assets/lib/prism.css')
			script(src='/assets/lib/prism.js')

	body
		h1: a(href='/' style='text-decoration:none') Joseph Post
		div.
			#[a(href='/music') music]
			|| #[a(href='/about') about]
			|| #[a(href='/links') links]
			|| #[a(href='/contact') contact]
		if current.path[0] == 'blog' && current.source !== 'index'
			h2= title
			em= date
			!= yield
			strong %%%
		else
			!= yield

