doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(type='text/css' rel='stylesheet' href='https://npmcdn.com/hack/dist/hack.css')
        link(type='text/css' rel='stylesheet' href='https://npmcdn.com/hack/dist/standard.css')
    body.standard
        .main.container
            h1 jcpst.com - Home of Joseph Post on the world wide web.
            != yield
            hr
        .push
    .footer
        .container
            em last deployment: #{new Date()} (#[a(href='https://github.com/jcpst/jcpst') source])
