doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(type='text/css' rel='stylesheet' href='/assets/style/style.css')
    body
        .wrapper
            .container
                .header-border
                    h1: a.title(href='/') jcpst.com
                    p Home of Joseph Post on the world wide web.
                .nav-links
                    each link in ['about', 'contact', 'music', 'weblog']
                        a(href='/' + link class='#{current.source == link ? "selected" : ""}')= link
                hr
                != yield
                br
            .push
        .footer
            .container
                em last deployment: #{new Date()} (#[a(href='https://gitlab.com/jcpst/jcpst') source])
