//- We want a hierarchy of categories and links.
mixin parseObject(obj)
	each val, key in obj
		if typeof val === 'string'
			li: a(href=val)= key
		else if typeof val === 'object'
			li
				strong= key
				ul: +parseObject(val)

h3 Links
p Hopefully this page will be wild and sprawling over time.
ul#ul-base: +parseObject(public._data.links)
