h3 Music

p
  a(href='https://soundcloud.com/josephpost') soundcloud
p
  a(href='https://archive.org/details/JPACKSRPM2015Mp3') jpacks
  | &nbsp
  em 2015
p
  a(href='http://yourface.bandcamp.com') your face
  | &nbsp
  em 2009-10
p
  a(href='http://monitors.bandcamp.com') monitors
  | &nbsp
  em 2004-07
p
  a(href='http://sbats.bandcamp.com') senator bigsby and the screws
  | &nbsp
  em 2001-04
br
em: a(href='/credits') Recording Credits
