link(href='/assets/lib/prism.css' rel='stylesheet')
script(src='/assets/lib/prism.js')
	
h3 Recent album purchases

include _generated/bandcamp-results.html

p last generated on #[em #{new Date()}]
p The full list is #[a(href='https://bandcamp.com/josephpost') here].
p.
	I wanted to generate a complete list of my Bandcamp purchases in reverse 
	chronological order. Unfortunately, Bandcamp has deprecated their API, so
	I have resorted to using a script (see below) in my CI build that curls and 
	transforms the response from my Bandcamp profile, which only renders first 
	results without JavaScript.

!= partial('_generated/parse_fanpage')

