/* Sticky Footer by Ryan Fait
 * http://ryanfait.com/
 */ 
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 25px; /* .push must be the same height as .footer */
}
/******************************************************************************/



body
  font-family: 'Coming Soon', cursive;
  background: #eaeaea

a, a:active, a:hover, a:visited
  color black

body > ul
  padding-left 0

code
  background #272727
  color white
  border-radius 3px

h1, h2, h3, h4, h5, h6, p
  margin 0.75em 0

img
  max-width 100%

li > ul
  padding-left 1.5em

td
  padding 0.25em
  background-color #eee

ul
  padding-left 1em
  list-style none

.container
  margin 0.25em

.name
  text-align center
  padding 0.5em 0
.links
  padding 0.5em 0
  text-align center
.link
  display inline-block
  padding 0 1em

.top
  padding-top 5px